nav.menu {
    background-color: #272727;
    text-align: center;
    ul {
        padding: 0;
        li {
            display: inline;
            list-style: none;
            margin: 0 .5em;
            text-transform: uppercase;

            a {
                color: white;
                text-decoration: none;
            }
            @media screen and (min-width: 768px) {
                margin: 0 1em;
            }

            @media screen and (min-width: 992px) {
                margin: 0 1.5em;
            }
        }
    }

    @media screen and (min-width: 768px) {
        background-color: #242B2E;
        padding-right: 2em;
        text-align: right;
    }
}