nav.menu {
    background-color: #272727;
    padding: 0;
    text-align: center;
    ul {
        margin: 0;
        padding: 0;
        li {
            display: inline;
            list-style: none;
            text-transform: uppercase;
            
            &.active a {
                background-color: #CCC;
                color: #272727;
            }
            &:hover a {
                background-color: #DDD;
                color: #272727;
                cursor: pointer;
                transition: background-color .5s;
            }
            a {
                color: white;
                display: inline-block;
                padding: 1em;
                text-decoration: none;
                @media screen and (min-width: 768px) {
                    padding: 1.5em;
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        background-color: #242B2E;
        padding-right: 2em;
        text-align: right;
    }
}