.about {
    margin: 1em auto;
    max-width: 42em;
    text-align: center;

    .github {
        position: absolute;
        right: 0;
        top: 9.15em;

        img {
            height: 120px;
            width: 120px;
            @media screen and (min-width: 768px) {
                height: 149px;
                width: 149px;
            }
        }

        @media screen and (min-width: 768px) {
            top: 4.6em;
        }
    }

    p {
        margin-top: 2em;
    }

    footer {
        margin-top: 5em;
    }

    @media screen and (min-width: 768px) {
        margin-top: 2em;
    }
}